{% extends 'base_admin.html' %} {% load static %} {% block user %} {{user}} {% endblock user %} {% block poste %} {{poste}} {% endblock poste %} {% block body %}

<a class="btn bg-gradient-dark w-10" onclick="goBack()"><i class="fas fa-arrow-left"></i></a>

<div class="col-md-9 mt-4" style="margin-left: 120px;">
    <div class="card">
        <div class="card-header text-center pt-4">
            <h6 class="mb-0">Création d'une nouvelle unité</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">




                <table class="table align-items-center mb-0" id="">
                    <tbody>
                        <form method="POST" action="">
                            {% csrf_token %}

                            <tr>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Code unité</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ form.code }}</th>

                            </tr>


                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Réseau d'unité</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{form.reseau}}</th>
                            </tr>

                            <tr>

                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Pays d'unité</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{form.pays}}</th>

                            </tr>

                            <tr>

                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Monnaie d'unité</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ form.monnaies }}</th>

                            </tr>

                            <tr>

                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Commeriale</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ form.comercial }}</th>

                            </tr>


                            <tr>

                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Etranger</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ form.etranger }}</th>
                            </tr>


                            <tr>

                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tresorie</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ form.tresorie }}</th>

                            </tr>


                            <tr>

                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Trafic Indicateur</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ form.trafic }}</th>
                            </tr>


                            <tr>

                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Emission Indicateur</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ form.emission }}</th>

                            </tr>

                            <tr>

                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Recette Indicateur</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ form.recette }}</th>

                            </tr>


                            <tr>

                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Exploitation Indicateur</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ form.exploitation }}</th>

                            </tr>

                            <tr>



                                <td class="align-middle text-center text-sm" colspan="2">
                                    <button class="btn bg-gradient-danger" type="submit">  Ajouter &nbsp;<i class="fas fa-pen-square"></i></button>
                                </td>
                        </form>
                        </tr>

                    </tbody>



                </table>





                <tr>





                    </tbody>
                    </table>

            </div>
        </div>



    </div>
</div>



</div>





</div>
</div>
</div>
</div>




{% endblock body %}