{% extends 'base_admin.html' %} {% load static %} {% block user %} {{user}} {% endblock user %} {% block poste %} {{poste}} {% endblock poste %} {% block body %}


<div class="col-md-9 mt-4" style="margin-left: 120px;">
    <div class="card">
        <div class="card-header text-center pt-4">
            <button class="btn bg-gradient-dark w-60 mb-0" name="id" value="" >
                Fixer une date pour la réunion  &nbsp; <i class="fas fa-calendar-alt"></i> </button>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-secondary opacity-7"></th>
                            <th class="text-secondary opacity-7"></th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                           
                            <td class="align-middle">
                                <form action="" method="POST">
                                    <button class="btn bg-gradient-dark w-60 mb-0" name="id" value="">
                                 Fixer une date pour la réunion  &nbsp; <i class="fas fa-calendar-alt"></i> </button>
                                </form>
                            </td>



      

                        </tr>







                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




{% endblock body %}